<h1> New Unit </h1>
<div class= 'boxed-div'>

  {{view Ember.Select
       content=classList
       optionValuePath="content.id"
       optionLabelPath="content.className"
       value = selectClass}}

    {{input type = 'text' id = 'soldierName' valueBinding = 'newSoldierName' action ='createSoldier'}}
    <button {{action createSoldier}}>Create Unit</button>

</div>